* {
	margin: 0;
}
.navbar {
	float: left;
	width: 100%;
	background-color: #000;
	text-align: center;
}
.banner {
	float: left;
	width: 100%;
	background: url('../img/bk.jpeg');
	background-size: cover;
	background-attachment: fixed;
}
.banner h1 {
	text-align: center;
	border: #000 2px solid;
	padding: 1%;
	float: left;
	background-color:black;
	color: #fff;
	font-size: 100%;
	font-family: arial;
	margin: 10% 4% 10% 4%;
	transition-duration: 1s;
}
.banner h1:hover {
	border: #fff 2px solid;
}
.content {
	margin: 3%;
	width: 91%;
	height: auto;
	float: left;
}
.box {
	margin: 1%;
	border: black 2px solid;
	width:47.6%;
	height:200px;
	float: left;
}
.box h1 {
	font-family: arial;
	margin-left: 4%;
	margin-top: 2%;
}
.box p {
	font-family: arial;
	margin:2% 2% 4% 4%;
}
.box a {
	transition: 0.5s;
	font-family: arial;
	color: #000;
	margin:2% 2% 4% 4%;
	text-decoration: none;
	padding: 2%;
	border:black 2px solid;
}
.box a:hover {
	background-color: #000;
	color: #fff;
	border-left: 10px solid #000;
}

.f-box {
	border: black 2px solid;
	width:97.6%;
	margin: 1%;
	height:auto;
	float: left;
}
.f-box h1 {
	font-family: arial;
	margin-left: 2%;
	margin-top: 1%;
}
.f-box p {
	font-family: arial;
	margin:1% 1% 2% 2%;
}
.f-box a {
	float: left;
	transition: 0.5s;
	font-family: arial;
	color: #000;
	margin:1% 2% 1% 2%;
	text-decoration: none;
	padding: 1%;
	border:black 2px solid;
}
.f-box a:hover {
	background-color: #000;
	color: #fff;
	border-left: 10px solid #000;
}
footer {
	width: 100%;
	float: left;
	background-color: #000;
}
footer p {
	font-size: 100%;
	margin: 4%;
	float: left;
	color: #fff;
	font-family: arial;
}