.lk {
	height: 500px;
	width: 500px;
	text-decoration: none;
	color: #ffffff;
	transition: 0.5s;
}
.lk :hover {
	color: #ff0000;
}
.prf-img{
	width: 128px;
	height: 128px;
	border-radius: 100%;
}